{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>formateur</th>
                <th>salle</th>
                <th>horaire</th>
                <th>promo</th>
                <th>semaine</th>
                <th>etage</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{{ reservation.formateur }}</td>
                <td>{{ reservation.salle }}</td>
                <td>{{ reservation.horaire  }}</td>
                <td>{{ reservation.promo }}</td>
                <td>{{ reservation.semaine }}</td>
                <td>{{ reservation.etage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new reservation</a>
        </li>
    </ul>
{% endblock %}
