{% extends 'base.html.twig' %}

{% block body %}
    <h1>Semaines list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for semaine in semaines %}
            <tr>
                <td><a href="{{ path('semaine_show', { 'id': semaine.id }) }}">{{ semaine.id }}</a></td>
                <td>{{ semaine.jour }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('semaine_show', { 'id': semaine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('semaine_edit', { 'id': semaine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('semaine_new') }}">Create a new semaine</a>
        </li>
    </ul>
{% endblock %}
